.container {
    height: 80vh;
    width: 100%;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container header img{
    left: 350px;
}

.leitosContainer {
    height: 60vh;
    width: 100%;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leitosTotalContainer {
    height: 70vh;
    width: 100%;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.EmptyContainer{
    background: var(--theme-primary);
}
.footerContainer footer{
    height: 5vh;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
